.hero {
    display: flex;
    height: 100vh;
    background: linear-gradient(180deg, #BFDEE7, #E1FFEA22 55%);
}

.hero-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 15vw;
    line-height: 1;
}
.hero-left h2 {
    color: black;
    font-size: 1.75rem;
    font-weight: 600;
}
.hero-left p {
    color: black;
    font-size: 6rem;
    font-weight: 600;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img {
    width: 100px;
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 275px;
    height: 70px;
    border-radius: 75px;
    margin-top: 20px;
    background: #2b75d6;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
}

.hero-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}